@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: block;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('/fonts/Inter-roman.var.woff2') format('woff2');
}

@font-face {
	font-family: 'Inter';
	font-weight: 100 900;
	font-display: block;
	font-style: italic;
	font-named-instance: 'Italic';
	src: url('/fonts/Inter-italic.var.woff2') format('woff2');
}

#__next {
	min-height: 100%;
}

html,
body {
	padding: 0;
	margin: 0;
	/* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}


.card {
  @apply mb-5  block   rounded-xl border border-gray-200  ;
}

.primary-button {
  @apply p-2 rounded-lg bg-teal-700 hover:bg-teal-600 font-bold text-white shadow-xl shadow-blue-200 transition ease-in-out duration-200 ;
}
.default-button {
	@apply px-4 py-2 bg-gray-200 hover:bg-gray-300 text-gray-800 text-sm font-medium rounded-full;
}
.stock-success-button {
@apply	m-2 px-2 py-1 bg-emerald-200 hover:bg-emerald-300 rounded-full text-sm font-semibold text-emerald-600;

}
.stock-danger-button {
	@apply m-2 px-2 py-1 bg-rose-200 hover:bg-rose-300 rounded-full text-sm font-semibold text-rose-600;
}

.info-badge {
	@apply  px-2 py-1 bg-blue-200 hover:bg-blue-300 rounded-full text-sm font-semibold text-blue-600;
}


.alert-error {
	@apply my-3 rounded-lg bg-red-100 p-3 text-red-700;
}

.alert-success {
	@apply my-3 rounded-lg bg-green-100 p-3 text-green-700;
}

input,
select,
textarea{
	@apply rounded border p-2 outline-none ring-indigo-300 focus:ring;
}

.dropdown-link{
	@apply flex p-2 hover:bg-gray-200 rounded-md ;
}
